
:root {
    --bg: #282c34; /* background */
    --bgnav: #282c34; /* background nav bar*/
    --fg: #eee; /* foreground */
    --fgh: #aaa; /* foreground header */
    --fgl: #18b26f; /* link */
    --fglh: #0de587; /* link hover */
    --fge: #2982d2; /* edit */
    --bge: #23262d; /* background edit*/
    --bgm: #1b1d21; /* background move*/

}

/*-----------------------------------------------------------------------------------------------------------
Main elements
-----------------------------------------------------------------------------------------------------------*/

body {
    background-color: var(--bg);
    color: var(--fg);
}

a:link {
    color: var(--fgl);
    text-decoration: none; /* remove underline */
}

a:hover {
    color: var(--fglh);
}

a:visited {
    color: var(--fgl);
}

.App {
    margin-left: 8rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    overflow: auto;
}

.field_input {
    color: var(--fge) !important;
}

.field_input:hover {
    background-color: var(--bge);
}

/*-----------------------------------------------------------------------------------------------------------
Navigation bars
-----------------------------------------------------------------------------------------------------------*/

#sidebar {
    background-color: var(--bgnav);
    float: left;
    width: 8rem;
    margin-left: 1rem;
}

#topbar {
    background-color: var(--bgnav);
    color: var(--fgh);
    float: top;
    width: 100%;
    min-height: 3rem;
    margin-top: 4px;
    margin-left: 9rem;
}

.vertical_line { /* unused for the moment */
    border-left: 1px solid dimgrey;
    color: #8a0303;
    height: 9rem; /* should be like side bar width + margin)let*/
    position: absolute;
    left: 113px;
}

/*-----------------------------------------------------------------------------------------------------------
Dices animation
-----------------------------------------------------------------------------------------------------------*/

#dice-box,
#dice-box canvas {
    position: fixed;
    top: 7rem;
    left: 7rem;
    pointer-events: none;
    z-index: 100;
    width: 90%;
    height: 90%;
    max-width: 500px;
    max-height: 500px;
    aspect-ratio: auto 1 / 1;
}

/*-----------------------------------------------------------------------------------------------------------
Test movable
-----------------------------------------------------------------------------------------------------------*/

.movable {
    border-style: solid;
    border-width: 1px;
    border-color: var(--bgm);
    /*box-shadow: 5px 5px #24282f;*/
    width: 400px;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
    position: absolute;
}
