
:root {
    --bg: #282c34; /* background */
    --bgnav: #282c34; /* background nav bar*/
    --fg: #eee; /* foreground */
    --fgh: #aaa; /* foreground header */
    --fgl: #18b26f; /* link */
    --fglh: #0de587; /* link hover */
    --fge: #2982d2; /* edit */
    --bge: #23262d; /* background edit*/
    --bgm: #1b1d21; /* background move*/
    --help: #807c62;
    --dead: #2f1111

}

/*-----------------------------------------------------------------------------------------------------------
Main elements
-----------------------------------------------------------------------------------------------------------*/

body {
    background-color: var(--bg);
    color: var(--fg);
}

a:link {
    color: var(--fgl);
    text-decoration: none; /* remove underline */
}

a:link:hover {
    color: var(--fglh); /* no because visited? */
}

a:visited {
    color: var(--fgl);
}

a:visited:hover {
    color: var(--fglh);
}

.disabled-linked {
    color: var(--fgh);
}

.App {
    margin-left: 8rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1rem;
    overflow: auto;
}

.field_input {
    color: var(--fge) !important;
}

.field_input:hover {
    background-color: var(--bge);
}

.field_header {
    color: var(--fgh) !important;
}


/*-----------------------------------------------------------------------------------------------------------
Navigation bars
-----------------------------------------------------------------------------------------------------------*/

#sidebar {
    background-color: var(--bgnav);
    float: left;
    width: 8rem;
    margin-left: 1rem;
}

#topbar {
    background-color: var(--bgnav);
    color: var(--fgh);
    float: top;
    width: 100%;
    min-height: 3rem;
    margin-top: 10px;
    margin-left: 9rem;
}

.vertical_line { /* unused for the moment */
    border-left: 1px solid dimgrey;
    color: #8a0303;
    height: 9rem; /* should be like side bar width + margin)let*/
    position: absolute;
    left: 113px;
}

/*-----------------------------------------------------------------------------------------------------------
Dices animation
-----------------------------------------------------------------------------------------------------------*/

#dice-box,
#dice-box canvas {
    position: fixed;
    top: 17rem;
    left: 7rem;
    pointer-events: none;
    z-index: 100;
    width: 90%;
    height: 90%;
    max-width: 600px;
    max-height: 600px;
    aspect-ratio: auto 1 / 1;
}

.dice-left {
}

.dice-left:hover {
    background-color: var(--bgm);
}

.dice-right {
}

.dice-right:hover {
    background-color: var(--bgm);
}

.dice-reroll {
    font-size: 0.9rem;
    margin-right: 1rem;
    margin-left: -1rem;
}


.dice-label {
    font-size: 1.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
    color: var(--fg);
}

.dice-label-reroll {
    position: relative;
    font-size: 1.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
    color: var(--fgh);
    background: linear-gradient(to left top,
    transparent 47.75%, currentColor 49.5%, currentColor 50.5%, transparent 52.25%);
}

.dice-label:hover {
    /*text-emphasis-style: dot;
    text-emphasis-position: under;
    */
    color: var(--fge)
}

.dice-result {
}

.dice-trash {
    vertical-align: bottom;
}

/*-----------------------------------------------------------------------------------------------------------
movable
-----------------------------------------------------------------------------------------------------------*/

.movable {
    border-style: solid;
    border-width: 1px;
    border-color: var(--bgm);
    /*box-shadow: 5px 5px #24282f;*/
    width: 400px;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
    position: absolute;
}

.technic {
    width: 700px;
}

/*-----------------------------------------------------------------------------------------------------------
help collapse
-----------------------------------------------------------------------------------------------------------*/

.ReactCollapse--collapse {
    transition: height 500ms;
    transition: height 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.help {
    font-size: calc(0.85em);
    /*color: #aaa;*/
    color: var(--help);
    font-weight: normal;
}

.help-right {
    float: right;
}

/* -------------------------------------------------------------------- */
/* CK EDITOR */
/* -------------------------------------------------------------------- */

.ck {
    border: 0 !important;
    margin-top: 7px;
}

.ck-content {
    background-color: var(--bge) !important;
}

.ck-toolbar {
    background-color: var(--bg) !important;
    color: var(--fg) !important;
}

.ck-icon {
    color: var(--fgh) !important;
}

.ck-button {
    color: var(--fgh) !important;
}

/*-----------------------------------------------------------------------------------------------------------
encounter
-----------------------------------------------------------------------------------------------------------*/

.block-encounter {
    border-style: solid;
    border-width: 1px;
    border-color: var(--bgm);
    max-width: 600px;
    padding: 5px 5px 5px 8px;
}

.encounter-dead {
    background-color: var(--dead)!important;
}
